server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/edupage
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true